.navbar {
  padding: 1rem;
  background-color: rgba(255, 255, 255, 0.15);
  backdrop-filter: blur(4px);
}

.btn-pink {
  padding: 1rem 2rem;
  background: #ed64a6;
  color: #ffffff;
  text-transform: uppercase;
}

.btn-gray {
  padding: 1rem 2rem;
  background: #2d3748;
  color: #ffffff;
  text-transform: uppercase;
}
